@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing {
  margin: 0 auto;
  max-width: 1400px;
  font-family: "Lato", sans-serif;
  margin-bottom: 5%;
  color: #002D69;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
}
.nav-bar__title {
  margin-right: auto;
  margin-left: 7%;
  color: #0D5EBA;
  font-size: 18px;
}
.nav-bar__menu {
  margin-left: auto;
  margin-right: -5%;
}
.nav-bar__menu__home, .nav-bar__menu__shop, .nav-bar__menu__services, .nav-bar__menu__about, .nav-bar__menu__contact {
  color: #343434;
  font-size: 16px;
  margin: 28px;
  text-decoration: none;
}
.nav-bar__top-nav {
  margin-left: auto;
  margin-right: 6%;
  cursor: pointer;
}

.modul2-shop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modul2-shop__wrapper-modul2 {
  width: 1245px;
  height: 379px;
  margin-bottom: 5%;
}
.modul2-shop__wrapper-modul2__images {
  display: grid;
  grid-template-columns: repeat(5, 234px);
  gap: 20px;
}
.modul2-shop__wrapper-modul2__images figure {
  width: 100%;
  height: 100%;
}
.modul2-shop__wrapper-modul2__images figure figcaption {
  text-align: center;
  font-size: 18px;
  margin-top: 7%;
  margin-bottom: 10%;
}
.modul2-shop__wrapper-modul2__images figure figcaption figcaption {
  font-weight: lighter;
}
.modul2-shop__wrapper-modul2__title {
  font-size: 24px;
  line-height: 33px;
  font-family: "Lato", sans-serif;
  margin-top: 5%;
  margin-bottom: 3%;
}

.modul3-hand-crafted {
  margin: 30px 0 30px 0;
  width: 100%;
  height: 682px;
  display: grid;
  grid-template-columns: 635px 765px;
}
.modul3-hand-crafted__title-container {
  background-color: #002D69;
  color: white;
  width: 100%;
  height: 100%;
}
.modul3-hand-crafted__title-container .modul3-hand-crafted__title {
  width: 684px;
  height: 344px;
  margin-left: 12%;
  margin-top: 20%;
}
.modul3-hand-crafted__title-container .modul3-hand-crafted__title h2 {
  font-size: 54px;
}
.modul3-hand-crafted__title-container .modul3-hand-crafted__title p {
  margin: 25px 0 25px 0px;
  line-height: 1.3;
  font-size: 28px;
}
.modul3-hand-crafted__title-container .modul3-hand-crafted__title button {
  width: 170px;
  height: 42px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  background-color: #FFFFFF;
  color: #002D69;
  cursor: pointer;
}
.modul3-hand-crafted__img img {
  width: 100%;
  height: 100%;
}

.modul4-our-latest {
  margin: 30px 0 30px 0;
}
.modul4-our-latest__title {
  font-size: 24px;
  line-height: 33px;
  font-family: "Lato", sans-serif;
  margin: 30px 0 30px 70px;
  margin-top: 5%;
  margin-bottom: 3%;
}
.modul4-our-latest__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modul4-our-latest button {
  width: 170px;
  height: 42px;
  background-color: #002D69;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.modul6-our-servis__images, .modul4-our-latest__images, .modul5-customer__card {
  display: grid;
  grid-template-columns: repeat(3, 392px);
  gap: 40px;
  margin: 30px 0 30px 70px;
}

.modul5-customer {
  margin: 30px 0 30px 0;
}
.modul5-customer__title {
  margin: 30px 0 30px 70px;
  font-size: 24px;
  line-height: 33px;
  font-family: "Lato", sans-serif;
  margin-top: 5%;
  margin-bottom: 3%;
}

.modul6-our-servis {
  margin-bottom: 70px;
}
.modul6-our-servis__title {
  font-size: 24px;
  line-height: 33px;
  font-family: "Lato", sans-serif;
  margin: 30px 0 30px 70px;
  margin-top: 5%;
  margin-bottom: 3%;
}
.modul6-our-servis__images figcaption {
  text-align: center;
  font-size: 24px;
  margin-top: 7%;
  margin-bottom: 10%;
}
.modul6-our-servis__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modul6-our-servis button {
  width: 170px;
  height: 42px;
  background-color: #002D69;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.footer-wraper {
  background-color: #B8E0EF;
  max-height: 800px;
}
.footer-wraper .footer-section7__glavnoe {
  width: 944px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: calc(50% - 472px);
  padding-top: 60px;
}
.footer-wraper .footer-section7__glavnoe .section7-right {
  background-color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.footer-wraper .footer-section7__glavnoe .section7-right__info {
  width: 362px;
  text-align: center;
}
.footer-wraper .footer-section7__glavnoe .section7-right__info h3 {
  font-size: 24px;
  line-height: 33px;
  font-family: "Lato", sans-serif;
  margin: 10px auto;
}
.footer-wraper .footer-section7__glavnoe .section7-right__info p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 10px auto;
  color: #343434;
}
.footer-wraper .footer-section7__glavnoe .section7-right__info button {
  width: 170px;
  height: 42px;
  background-color: #002D69;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-size: cover;
  margin: 10px auto;
}
.footer-wraper .footer-section7__glavnoe .section7-left img {
  width: 100%;
  height: 100%;
}
.footer-wraper .footer-menu {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 230px);
  margin: 30px 0 30px 70px;
}
.footer-wraper .footer-menu__product h4, .footer-wraper .footer-menu__resouces h4, .footer-wraper .footer-menu__company h4 {
  font-size: 21px;
  color: #343434;
  margin: 15px 0 15px 0;
}
.footer-wraper .footer-menu__product a, .footer-wraper .footer-menu__resouces a, .footer-wraper .footer-menu__company a {
  color: #53585F;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
}
.footer-wraper .line {
  border: 1px solid rgba(146, 159, 168, 0.35);
  margin-bottom: 0px;
}
.footer-wraper .footer-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 0 4% 0 8%;
}
.footer-wraper .footer-down__social-media {
  width: 220px;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  gap: 10px;
}
.footer-wraper .footer-down__social-media img {
  width: 32px;
  height: 32px;
}/*# sourceMappingURL=style.css.map */